body{
    background-image: url(61_Animal_wallpaper_1920x1080px.jpg);
    background-size: cover;
    margin-top: 2vh;
    display: grid;
    place-items: center;
}
header:hover{
    transition: 0.8s;
    size: 110%;
}
.header{
    margin-top: 20%;
    background-color:rgba(0, 0, 0, 0.808);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2vh;
    width: 40vw;
    align-items: center;
    align-self: center;
    transition: 1.5s;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.icon{
    margin-left: 20px;
    margin-right: 20px;
    
}